.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header_menu {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  list-style: circle;
}

.header_links-list-item {
  text-underline-position: unset;
}

.header__link_active {
  text-decoration: none;
}

.header_links-list-item:first-child {
  list-style: none;
}

.header_logo {
  display: block;
  width: 136px;
  height: 105px;
  object-fit: contain;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.cover {
  width: 100%;
  position: relative;
  padding: 165px 50px 42px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-content {
  position: relative;
  z-index: 1;
}

.cover_title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 30px;
}
.aligned-text {
  display: block;
}

.aligned-text_left {
  margin-left: 1px;
  text-align: left;
}

.aligned-text_center {
  margin-top: 22px;
  margin-left: 29px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 19px;
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  margin: 105px 0px 0px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.cover__description-text {
  font-size: 22px;
  display: block;
  padding-bottom: 9px;
  color: #ffffff;
  line-height: 127%;
  font-weight: 400;
  word-spacing: 18.5px;
}

.bet-button {
  display: flex;
  align-items: center;
  padding: 12px 33px;
  margin-bottom: 10px;
  color: #ffffff;
  border: 1px solid;
  background-color: transparent;
  overflow: hidden;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: auto;
  cursor: pointer;
}

.lots {
  margin: 183px 24px 155px;
  text-underline-offset: 4px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0px 40px 29px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три столбца */
  grid-gap: 25px; /* Пример отступа между карточками */
}

.lots__card-list-item {
  width: 30%;
}

.card-link {
  text-decoration: none;
}

.card {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  margin: 48px 40px 0px;
  text-underline-offset: 2px;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 48px;
  color: #ffffff;
  z-index: 1;
}
/* Классы для фона каждой из карточек */
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: flex;
  justify-content: left;
  margin-top: 32px;
  padding-left: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  text-underline-offset: 5px;
}

.about {
  padding: 0px 25px 0px;
  display: grid;
  grid-template-columns: repeat(1, 0.5fr) 1fr;
}

.about__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  color: white; /* Если логотип состоит из текста или векторных элементов */
}

.about__title {
  margin: 105px 8px 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 94px 2px 0px 8px;
}

.footer {
  padding: 2px 24px 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-underline-offset: 5px;
}

.footer__address {
  margin-left: 27px;
  justify-self: start;
}

.footer__menu {
  display: block;
  justify-content: center; /* Выравнивание по центру */
  align-items: start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.footer__menu-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-items: end;
  align-items: start;
  gap: 48px;
  margin-left: 72px;
}

.footer__social-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
