.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header_menu {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  list-style: circle;
}
.header_links-list-item {
  text-decoration: underline;
  text-underline-position: unset;
}
.header_links-list-item_bullit {
  list-style-type: none;
}

.header_logo {
  display: block;
  width: 136px;
  height: 105px;
  object-fit: contain;
}
.header_link {
  max-width: 240px;
  font-size: 18px;
  letter-spacing: 0%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 auto;
  font-style: normal;
  gap: 0;
  text-decoration: none;
}
address {
  margin-left: auto;
  padding: 0;
  display: block;
  unicode-bidi: isolate;
  float: right;
  line-height: 24.3px;
}

.header_link_active {
  text-decoration: none;
}
.cover {
  width: 100%;
  height: 757px;
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cover-content {
  position: relative;
  z-index: 1;
}

.cards article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cover_title {
  font-family: "Raleway2";
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 29px;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  margin-left: 1px;
  text-align: left;
}

.aligned-text_center {
  margin-top: 22px;
  margin-left: 29px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 22px;
  margin-right: -27px;
  text-align: right;
}
.cover__description {
  margin: 105px 0px 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.cover__description-text {
  font-size: 22px;
  display: block;
  padding-bottom: 9px;
  color: #ffffff;
  line-height: 127%;
  font-weight: 400;
  word-spacing: 18.5px;
}
.bet-button {
  display: flex;
  align-items: center;
  padding: 12px 33px;
  margin-bottom: 10px;
  color: #ffffff;
  border: 1px solid;
  background-color: transparent;
  overflow: hidden;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: auto;
  cursor: pointer;
}
.lots {
  margin: 180px 24px 155px;
  height: 723px;
}
.lots__heading {
  font-family: "Raleway2", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 33px;
  padding: 4px 40px 29px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три столбца */
  grid-gap: 25px; /* Пример отступа между карточками */
}

.lots__card-list-item {
  width: 30%;
  height: 596px;
  display: flex;
}

.card-link {
  text-decoration: none;
}

.card {
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  max-width: 254px;
  color: #ffffff;
  font-family: "Raleway2", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  margin: 48px 40px 0px;
  text-underline-offset: 5px;
}
.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 0 40px 48px;
  color: #ffffff;
}
/* Классы для фона каждой из карточек */
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  display: flex;
  justify-content: left;
  margin-top: 34px;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}
.about {
  padding: 0px 25px 0px;
  height: 595px;
  display: grid;
  grid-template-columns: repeat(1, 0.5fr) 1fr;
}

.about__column {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin-bottom: 186px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  color: white; /* Если логотип состоит из текста или векторных элементов */
}

.about__title {
  margin: 105px 8px 8px;
  font-family: "Raleway2", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 95px 2px 0px 8px;
}

footer {
  padding: 146px 24px 20px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Три колонки */
  gap: 20px; /* Промежуток между колонками */
  text-underline-offset: 5px;
}
.footer_link {
  padding-left: 26px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 auto;
  font-style: normal;
  gap: 0;
}

.footer__menu {
  display: block;
  justify-content: center; /* Выравнивание по центру */
  align-items: start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.footer__menu-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer_link_active {
  text-decoration: none; /* Убирает подчёркивание для выбранной ссылки */
}
.social-links {
  display: grid;
  width: 240px;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  gap: 10px;
  justify-items: center;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
